<tr class={{trClass}}>
  {{#each columnKeys as |column| }}
    <th class="{{get classesHash column}} {{thClass}}" >
      {{#if hasBlock}}
        {{yield (hash
          column=(get headerRow column)
          sortable=(get sortableHash column)
          sortingClass=(simple-table-sorting-class sortingCriteria column)
          sortAction=(action "sortBy" column)
          )}}
        {{else}}
          <span class="{{if (get sortableHash column) "sortable"}} {{simple-table-sorting-class sortingCriteria column}}"
                onclick={{action 'sortBy' column}}>
            {{get headerRow column}}
          </span>
        {{/if}}
      </th>
  {{/each}}
</tr>
