<h2> 1. Simple Table simple default config</h2>

{{simple-table tData=model.tableData tColumns=model.tableColumns}}

<h2> 2. Simple Table with {{yield}} for body with default sort action</h2>

{{#simple-table tData=model.tableData tColumns=model.tableColumns as |table|}}
    {{table.header}}

    {{#table.body as |row|}}
        <tr>
            <td>{{row.foo}}</td>
            <td>{{row.baz}}</td>
        </tr>
    {{/table.body}}
{{/simple-table}}

<h2> 3. Simple Table with {{yield}} for header</h2>

{{#simple-table tData=model.tableData tColumns=model.tableColumns sortAction=(action 'sort') as |table|}}
    {{#table.header as |header|}}
        {{header.cell dataValue='Foo' dataKey='foo'}}
        {{header.cell dataValue='BaZ' dataKey='baz'}}
    {{/table.header}}

    {{table.body}}
{{/simple-table}}

<h2> 4. Simple Table with {{yield}} for header and rows</h2>

{{#simple-table tData=model.tableData tColumns=model.tableColumns  as |table|}}
    {{#table.header as |header|}}
        {{#header.cell dataKey='foo' sortBy=(action 'sortFoo')}}
            <div class="th"> Foo </div>
        {{/header.cell}}
        {{#header.cell dataValue='BaZ' dataKey='baz' sortBy=(action 'sortBaz') as |value| }}
            <div class="th"> {{value}} </div>
        {{/header.cell}}
    {{/table.header}}

    {{#table.body table=table as |row|}}
        <tr>
            <td>{{row.foo}}</td>
            <td>{{row.baz}}</td>
        </tr>
    {{/table.body}}
{{/simple-table}}

<h2> 5. Simple Table with custom tbody and sorting</h2>

{{#simple-table tData=model.tableData tColumns=model.tableColumns as |table|}}
    {{table.header}}

    <tbody>
        {{#each table.rows as |row|}}
            <tr>
                <td>{{row.foo}}</td>
                <td>{{row.baz}}</td>
            </tr>
        {{/each}}
    </tbody>
{{/simple-table}}


<h2> 6. Simple Table with for header row</h2>

{{#simple-table tData=model.tableData tColumns=model.complexColumns as |table|}}
    {{table.header-row}}

    {{table.body}}
{{/simple-table}}

<h2> 7. Simple Table with for header row</h2>

{{#simple-table tData=model.tableData tColumns=model.complexColumns as |table|}}
    {{#table.header-selectable trClass="tr-class" thClass="th-class" selectAllAction=(action "selectAllRows") as |column|}}
        {{#if column.sortable}}
            <div class="blue-border {{column.sortingOrder}}" onclick={{column.sortAction}}>
                {{column.name}}
            </div>
        {{else}}
            <div class="blue-border" > {{column.name}} </div>
        {{/if}}
    {{/table.header-selectable}}

    <tbody>
        {{#each table.rows as |row|}}
            <tr>
                <td>
                    <input type="checkbox" checked={{row.checked}} value={{row.foo}} onchange={{action "selectRow" value="target.value"}}>
                </td>
                <td>{{row.foo}}</td>
                <td>{{row.baz}}</td>
            </tr>
        {{/each}}
    </tbody>
{{/simple-table}}
